@font-face {
  font-family: Blacklisted;
  src: url("../fonts/Blacklisted.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Redhat;
    src: url("../fonts/RedHatText-Regular.otf");
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.map-container {
  background-color: #333333;
  min-height: 90vh;
  margin: 0;
  padding-top: 7rem;
}

.content-container {
  background-color: #1b1b1b;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
}

.search-bar {
  margin-top: 4rem; margin-bottom: 1rem;
  margin-right: 2rem;
  box-shadow: 6px 6px 6px #0e0e0e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-bar input {
  font-size: 1.6rem;
}

.btn-submit {
  margin-left: 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: orange;
  transition: all .3s;
  padding: .5rem 2rem;
}

.btn-submit:hover {
  color: #fff;
  box-shadow: 2px 2px 3px 0 orange;
}

.filters-container {
  color: #fff;
  border: none;
  border-radius: .4rem;
  background-color: #1b3d74;
  font-size: 1.6rem;
  margin: 1.5rem 0;
  padding: .5rem 1rem .5rem .5em;
  font-family: "Montserrat";
}

.exhibitors-table {
  margin-top: 3rem;
}

.exhibitors-table th, .exhibitors-table td {
  font-size: 1.6rem;
  border: .1rem;
  padding: 2rem 0;
  padding-left: 1rem;
  color: #fff;
}

#search-display span {
  font-size: 1.6rem;
}

.label-filters {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.navigation-bar {
  margin: 0;
  padding: 1rem 0;
  background: #000;
  width: 100%;
  height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
}

.navigation-bar a {
  color: #fff;
  width: 100%;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Redhat";
  text-align: center;
}

.navigation-bar a span {
  color: #fff;
}

.carousel {
  max-height: 90vh;
  overflow: hidden;
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-caption h5 {
  font-family: "Blacklisted";
  font-size: 8rem;
}

.carousel-caption p {
  margin-top: 3rem;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: normal;
  padding-left: 2rem; padding-right: 2rem;
}
